body {
  padding-top: 25px;
  background-image: url(img/grey_wash_wall.png);
}
.starter-template {
  padding: 	40px 15px;
  text-align: center;

}
#columnBrowser{
	text-align: center;

	
}
#columnTag{

}
#columnBlank{
	
}






