body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  background-color: #fff;
  width:100%;
  height:100%;
  margin: 0;
  padding: 0;
  }

header {
	height: 51px;
	width:100%;
    background-color: #f8f8f8;
	
}

/* nav bar css style */

nav {

    display: inline;
	position:fixed;
	height: 51px;
	width:100%;
	background-color: #f8f8f8;
	border-color: #e7e7e7;
	border-width: 0 0 1px;
	z-index: 1030;
    border: 1px solid transparent;
	box-shadow: 0px 3px 10px #888888;
}
nav ul {
	padding: 0;
	margin: 0;
	height: 40px;
	text-align: center;
    line-height: 51px;
}
nav li {
   font-size:15px;
	display: inline;
	margin-left:20px;
}
nav a {
	color:#333;
	display: inline-block;
    width: auto;
	text-align: center;
	text-decoration: none;
}

.active {
   padding-left:15px;
   padding-right:15px;
   background-color:#e7e7e7;
}

nav a:hover {
  color:black;
}


nav form {
  padding: 0;
	margin: 0;
	font-size: 14px;
 }

nav input {
  padding: 6px 12px 6px 5px;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;

}

nav button {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
  border-radius: 4px;
}


.logo {
	background:url(../img/rsz_icon2.png) left center no-repeat ; 
	color:#e7e7e7;
	padding: 22px 0 15px 60px;
	font-family:Serif;
	font-size:18px;
}

.goButton {
	margin-left:-2px;
}
.nav_menu {
 float:left; 
  margin-right:20px;
  width:100%;
  width:auto;
  //background-color:yellow;
  line-height: 51px;
}

#container_out { 
	height: auto;
    margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
	width: 1100px;
	//background-color:yellow;
	
}


#one {
  height:auto;
  float:left; 
  margin-right:20px;
  width:260px;
   
  }
#two {
  overflow:hidden;
  margin:0px;
 }



/* END OF nav bar css style */


/* milad's css style */
.leftNav {
    width: 18.75%; 
    float: left;
}
.three-column{
    width: 18.75%;
}

#main_content{
    margin: 0px 0 25px 0;
    padding: 30px;
    width: 855px;
}
.nav > li {
    position:relative;
    display:block;
}

.top-label {
    background-color:rgba(51, 122, 182, 1);
    padding: 10px 15px;
    display:block;
    position: relative;
    border-top-left-radius:4px;
    border-top-right-radius:4px;
    color: white;
}
.nav {
    padding-left: 0;
    margin-bottom: 0;
    padding-right:15px;
}

.nav > li > a {
    //position:relative;
    display:block;
    padding: 10px 15px; 
    color: rgba(51, 131, 201, 1)
}
.nav > li > a:focus, .nav > li > a:hover {
    background-color: #eee;
}
.nav > li > a:focus, .nav > li > a:visited{
    color: rgba(51, 131, 201, 1)
}

#bs-example-navbar-collapse-1 {
    height: 50px;
    background-color: #0478c4;
    padding-left: 75%; 
    margin-top: 30px;
    display: inline;
}

#topNav a{
    color: #fff;
    font-size: large;
}

.row {
    width: 960px;
	height: 100%;
 
    padding: 110px 0 70px 0;
  margin-right: auto;
  margin-left: auto;
  background-color:red;
}


.text-center {
  text-align: center;
}

.page-number {
  display: inline-block;
  padding-left: 0;
  margin: 20px 0;
  border-radius: 4px;
  
}

.max-width{
   margin-left:auto;
   margin-right:auto;
	   min-width:50%;
	   max-width:100%;

    
}
.page-number > li {
  display: inline;
}
#left-arrow {
    border-top-left-radius:4px;
    border-bottom-left-radius:4px;
    margin-left: 0;
} 
#right-arrow {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.page-number > li > a,
.page-number > li > span {
  position: relative;
  float: left;
  padding: 6px 12px;
  margin-left: -1px;
  line-height: 1.42857143;
  color: #337ab7;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #ddd;
}

.page-number > li > a:hover,
.page-number > li > span:hover{
  color: #23527c;
  background-color: #eee;
  border-color: #ddd;
}  
 
.page-number > .active > a,
.page-number > .active > span {
  z-index: 2;
  color: #fff;
  cursor: default;
  background-color: #337ab7;
  border-color: #337ab7;
}



/* Will's css style */

.columnTags{
	/* width: 56.25%; */
	-webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;
	-webkit-column-width:15%;
	-moz-column-width:15%;
	column-width: 15%;
	
	-webkit-column-gap:3%;
	-moz-column-gap:3%;
	column-gap: 0%;
	clear: both;
	
}

.firstItem {
	margin-top: -6%;
}

#columnContainer {
	height: 600px;
	width: auto;
	overflow:auto;
	
}
	
/* Removed left nav bar for Milad's */
